body {
    background-color: white;

}

.dropButton {
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    padding: 0 0 0 200px;
}

table {
    font-size: 50px;
    margin: 0 auto;
    border-radius: 5px;
    border-collapse: collapse;
    font-family: 'Indie Flower', cursive;
    border: 2px black;
}

td {
    height: 85px;
    width: 85px;
    padding-top: 1px;
    
    
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;

}
