h1 {
    font-family: 'Nosifer', cursive;
    color: whitesmoke;
    margin: 0 auto;
}

body {
    background-color: rgb(41, 76, 189);

}
div{
    
}
.dropButton {
    margin: 0 auto;
    font-size: 15px;
    padding: 0 20px 0 300px;

}

table {
    font-size: 50px;
    margin: 0 auto;
    border-radius: 5px;
    border-collapse: collapse;
    font-family: 'Indie Flower', cursive;
    border: 2px black;
}

td {
    height: 85px;
    width: 85px;
    padding-top: 1px;
    
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;

}

